[Desktop Entry]
Type=Application
Exec=/home/hadean/KAES-ARCH/assets/updates.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=My Script
Comment=Runs my custom script

#.config/autostart/updates-check.desktop
